@page
@model YogaBeta.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<section id="main">
    <h1>A little bit about YogaBeta</h1>
    <p>
        Add an about description here!
    </p>
</section>