@page
@model YogaBeta.Pages.ClassPreferenceModel
@using Model
@{
    ViewData["Title"] = "ClassPreference";
    List<Poses> p = TempData.Get<Poses[]>("PoseList").ToList();
    TempData.Set("PoseList", p);
}

<h1>Class Settings</h1>

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>
                    <div class="form-group">
                        <label asp-for="PoseDuration"></label>
                        <input asp-for="PoseDuration" class="form-control form-control-sm" />
                        <span asp-validation-for="PoseDuration"></span>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label asp-for="PrepDuration"></label>
                        <input asp-for="PrepDuration" class="form-control form-control-sm" />
                        <span asp-validation-for="PrepDuration"></span>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label asp-for="Shavasana"></label><br />
                        @foreach (var shav in Model.ShavasanaOptions)
                        {
                            <input type="radio" onclick="change(this.value)" asp-for="Shavasana" value="@shav" />@shav<br />
                        }
                    </div>
                </li>
                <li class="hide" id="shavaLength">
                    <div class="form-group">
                        <label asp-for="ShavasanaLength"></label>
                        <input id="input" asp-for="ShavasanaLength" class="form-control form-control-sm" />
                        <span asp-validation-for="ShavasanaLength"></span>
                    </div>
                </li>
            </ul>

            <p class="actions">
                <button class="btn btn-primary">Next</button>
            </p>
        </div>
    </div>
</form>

<script>
    function change(id) {

        if (id == "Before Class" || id == "After Class")
        {
            document.getElementById("shavaLength").className = "";
            document.getElementById("input").value = 5;
        }
        else if (id == "None")
        {
            document.getElementById("shavaLength").className = "hide";            
            document.getElementById("input").value = 0;
        }
        

    }

</script>

@section scripts{
    @*This enables client side validation*@
    <partial name="_ValidationScriptsPartial" />


}

