@using Model
<h3>ConfirmComponet</h3>

@code {
    [Parameter]
    public YogaClass YogaClass { get; set; }

    protected override void OnInitialized()
    {
        decimal x = YogaClass.ClassDuration;
    }

}
