@page
@model YogaBeta.Pages.ListChakras4Model
@using Model
@{
    ViewData["Title"] = "ListChakras4";
}

<p>@Model.c.Id</p>
<ul>
    @foreach (Poses i in @Model.c.Poses)
    {
        <li>@i.name</li>
    }
</ul>